AUTH_API_IMAGE=ghcr.io/denissiusmaximus/posts-auth:latest
GATEWAY_API_IMAGE=ghcr.io/your-github-user/mytwitter-gateway:latest

AUTH_DB_NAME=auth
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=change-me

Jwt__PrivateKeyPem=replace-with-your-private-key
Jwt__AccessTokenExpiration=00:15:00
Jwt__RefreshTokenExpiration=30.00:00:00

DB__HOST=posts-auth-db
DB__PORT=5432
DB__USER=posts
DB__PASSWORD=change-me
DB__NAME=posts

USERS__API=https://api.lacarte.dev

LOKI_VERSION=latest
ALLOY_VERSION=latest
GRAFANA_VERSION=latest
CADDY_VERSION=alpine

CADDY_LOKI_GATEWAY_PORT=3100
LOKI_READ_PORT=3101
LOKI_WRITE_PORT=3102
ALLOY_UI_PORT=12345
GRAFANA_PORT=3001

LOKI_TENANT_ID=tenant1

GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_UPDATE=off

DOCKER_CONFIG_PATH=/root/.docker/config.json
