AUTH_API_IMAGE=ghcr.io/denissiusmaximus/posts-auth:latest
GATEWAY_API_IMAGE=ghcr.io/your-github-user/mytwitter-gateway:latest

LOKI_VERSION=latest
ALLOY_VERSION=latest
GRAFANA_VERSION=latest
CADDY_VERSION=alpine

CADDY_LOKI_GATEWAY_PORT=3100
LOKI_READ_PORT=3101
LOKI_WRITE_PORT=3102
ALLOY_UI_PORT=12345
GRAFANA_PORT=3001

DOCKER_CONFIG_PATH=/root/.docker/config.json
