Jwt__PrivateKeyPem=replace-with-your-private-key
Jwt__AccessTokenExpiration=00:15:00
Jwt__RefreshTokenExpiration=30.00:00:00

DB__HOST=posts-auth-db
DB__PORT=5432
DB__USER=auth
DB__PASSWORD=change-me
DB__NAME=auth

USERS__API=https://api.lacarte.dev
